{% extends "layout.html" %}

{% block pageTitle %}
    Quota {{ context.quota_order_number_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    href: "/quota_results?quota_order_number_id=" + context.quota_order_number_id
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Quota {{ context.quota_order_number_id }}</h1>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css">

            <!--Load D3.js -->
            <script src="https://d3js.org/d3.v5.min.js"></script>

            <!-- Load billboard.js via cdn -->
            <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>

            <div id="chart"></div>
            <script>

                var chart = bb.generate({
                    data: {
                        x: "x",
                        columns: [
                            [
                                "x", '01/12/2020', '11/01/2021', '01/02/2021', '01/03/2021'
                            ],
                            [
                                "Quota balance", 100, 200, 400, 800
                            ]
                        ],
                        colors: {
                            "Quota balance": "#1d70b8"
                        },
                        type: "line",
                        xFormat: "%d/%m/%Y"
                    },
                    axis: {
                        x: {
                            type: "timeseries",
                            format: "%d/%m/%Y"
                        }
                    },
                    bindto: "#chart"
                });
            </script>

        </div>
    </div>
{% endblock %}